.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6b6b6b;
    opacity: 0.6;
    justify-content: center;
    display: grid;
    align-items: center;
    z-index: 60;
}